
<div class="container">
  <h1>{{info}}</h1>
  <form action="/form-result">
    <div class="form-group">
      <label for="email">First name:</label>
      <input type="text" class="form-control" id="fname" placeholder="Enter first name" name="fname">
    </div>
    <div class="form-group">
      <label for="pwd">Last name:</label>
      <input type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>