<div class="container">
	<div class="row log-wrapper">
		<h1>Fishing log</h1>
		{{#each story}}
			<h2>{{Title}}</h2>
			<span>{{Date}}</span>
		 	<p> {{{Story}}} </p>
		 	<hr/>
		{{/each}}
		{{#if error}}
			<p>{{error}}</p>
		{{/if}}
	</div>
</div>